.chat-room{
    width: 500px;
    background-color: #141c26;
    height: 400px;
    position: relative;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.chat-container{
    display: flex;
    flex-direction: column;
}

form {
    position: absolute;
    bottom: 0;
    display: flex;
    width: 100%;
}
input {
    width: 100%;
    height: 40px;
}
form button {
    width: 75px;
}
.chat-header{
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: slategray;
}